In [85]:
import pandas as pd
import numpy as np

In [86]:
g_df = pd.read_excel("etf_data_final.xlsx")

In [87]:
g_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1027 entries, 0 to 1026
Columns: 292 entries, Unnamed: 0 to FXE250_y
dtypes: datetime64[ns](1), float64(135), int64(156)
memory usage: 2.3 MB

In [88]:
g_df.columns

Index(['Unnamed: 0', 'index', 'date', 'SPY_p', 'IWM_p', 'EEM_p', 'TLT_p',
       'LQD_p', 'TIP_p', 'IYR_p',
       ...
       'FXE120_y', 'SPY250_y', 'IWM250_y', 'EEM250_y', 'TLT250_y', 'LQD250_y',
       'TIP250_y', 'IYR250_y', 'GLD250_y', 'FXE250_y'],
      dtype='object', length=292)

In [89]:
g_df.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [90]:
g_df.head()

,index,date,SPY_p,IWM_p,EEM_p,TLT_p,LQD_p,TIP_p,IYR_p,GLD_p,...,FXE120_y,SPY250_y,IWM250_y,EEM250_y,TLT250_y,LQD250_y,TIP250_y,IYR250_y,GLD250_y,FXE250_y
0,250,2011-12-29,107.496193,66.057526,31.844088,98.016830,85.749313,102.159256,42.352482,150.339996,...,0,1,0,0,1,1,1,1,1,0
1,251,2011-12-30,106.967743,65.701195,31.869280,98.333130,86.112694,102.124252,42.144760,151.990005,...,0,1,0,0,1,1,1,1,1,0
2,252,2012-01-03,108.672401,66.788040,32.843678,96.857132,86.044540,102.089241,42.404408,155.919998,...,0,1,0,0,1,1,1,1,1,0
3,253,2012-01-04,108.842880,66.422791,32.658875,95.705551,86.112694,102.185547,41.929615,156.710007,...,0,1,0,0,1,1,1,1,1,0
4,254,2012-01-05,109.132668,66.796974,32.516071,95.535225,85.741760,102.378059,42.233788,157.779999,...,0,1,0,0,1,1,1,1,1,0

In [91]:
df_col = ['SPY_p', 'IWM_p', 'EEM_p', 'TLT_p', 'LQD_p', 'TIP_p', 'IYR_p',
       'GLD_p', 'FXE_p', 'SPY_v', 'IWM_v', 'EEM_v', 'TLT_v', 'LQD_v', 'TIP_v',
       'IYR_v', 'GLD_v', 'FXE_v']

In [92]:
td = [1, 3, 5, 10, 20, 40, 60, 120, 250]

In [95]:
%%time

for k in g_df[df_col]:
    
    print(k," Random values Generating...")

    for i in td:
        

        #cir_check = 1        

        a = k+"_"+str(i)
                        
        a_min = g_df[a].min()
        a_max = g_df[a].max()
        
        # noise_a = np.random.uniform(0,1,len(g_df))
                        
        noise_a = np.random.uniform(a_min,a_max,len(g_df))
        
        g_df[a] = None
                
        g_df[a] = noise_a

SPY_p  Random values Generating...
IWM_p  Random values Generating...
EEM_p  Random values Generating...
TLT_p  Random values Generating...
LQD_p  Random values Generating...
TIP_p  Random values Generating...
IYR_p  Random values Generating...
GLD_p  Random values Generating...
FXE_p  Random values Generating...
SPY_v  Random values Generating...
IWM_v  Random values Generating...
EEM_v  Random values Generating...
TLT_v  Random values Generating...
LQD_v  Random values Generating...
TIP_v  Random values Generating...
IYR_v  Random values Generating...
GLD_v  Random values Generating...
FXE_v  Random values Generating...
Wall time: 457 ms

In [96]:
g_df.to_excel("random_data_final.xlsx")