In [12]:
import pandas as pd
import numpy as np

In [13]:
g_df = pd.read_excel("kor_etf_data_final.xlsx")

In [14]:
g_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1867 entries, 0 to 1866
Columns: 109 entries, Unnamed: 0 to FRI
dtypes: datetime64[ns](1), float64(53), int64(55)
memory usage: 1.6 MB

In [15]:
g_df.columns

Index(['Unnamed: 0', 'index', 'date', 'KOD_p', 'KBS_p', 'TIG_p', 'KOD_v',
       'KBS_v', 'TIG_v', 'month',
       ...
       'month_8', 'month_9', 'month_10', 'month_11', 'month_12', 'MON', 'TUE',
       'WED', 'THU', 'FRI'],
      dtype='object', length=109)

In [16]:
g_df.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [17]:
g_df.head()

,index,date,KOD_p,KBS_p,TIG_p,KOD_v,KBS_v,TIG_v,month,week,...,month_8,month_9,month_10,month_11,month_12,MON,TUE,WED,THU,FRI
0,263,2012-01-25,16513.015625,93433.015625,10870,2836393,2014,21902,1,2,...,0,0,0,0,0,0,0,1,0,0
1,268,2012-02-01,1263.925903,93600.031250,10835,890,2013,6415,2,2,...,0,0,0,0,0,0,0,1,0,0
2,269,2012-02-02,1252.214722,93591.156250,10665,1630,3019,22187,2,3,...,0,0,0,0,0,0,0,0,1,0
3,270,2012-02-03,1198.162109,93617.820313,10570,1960,2263,13551,2,4,...,0,0,0,0,0,0,0,0,0,1
4,272,2012-02-07,16175.183594,93538.734375,10615,1842404,2012,10603,2,1,...,0,0,0,0,0,0,1,0,0,0

In [18]:
df_col = ['KOD_p',
          'KBS_p',
          'TIG_p',
          'KOD_v',
          'KBS_v',
          'TIG_v']

In [19]:
td = [1, 3, 5, 10, 20, 40, 60, 120, 250]

In [20]:
%%time

for k in g_df[df_col]:
    
    print(k," Random values Generating...")

    for i in td:
        

        #cir_check = 1        

        a = k+"_"+str(i)
                        
        a_min = g_df[a].min()
        a_max = g_df[a].max()
        
        # noise_a = np.random.uniform(0,1,len(g_df))
                        
        noise_a = np.random.uniform(a_min,a_max,len(g_df))
        
        g_df[a] = None
                
        g_df[a] = noise_a

KOD_p  Random values Generating...
KBS_p  Random values Generating...
TIG_p  Random values Generating...
KOD_v  Random values Generating...
KBS_v  Random values Generating...
TIG_v  Random values Generating...
Wall time: 42.4 ms

In [21]:
g_df.to_excel("kor_random_data_final.xlsx")